.draw{
    font-family: cursive;
    font-size: 60px;
    font-weight: 600;
    color: #838383;
}

.mynav{
    background-color: rgb(255, 255, 255);
}
.generalBtn {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    font-family: cursive;
    padding: 10px 16px;
    border-radius: 2px;
    bottom: 0px;
    cursor: pointer;
    text-align: center;
  }
.orangeBtn{
  color: rgb(255, 255, 255);
  background-color: #5ed9ff;
  box-shadow: 0px 9px 0px #257f9b, 15px 15px 12px rgba(0, 0, 0, 0.7);
}
.whiteBtn {
    color: #5ed9ff;
    background-color: rgb(252, 247, 247);
    box-shadow: 0px 9px 0px rgb(240, 217, 213), 15px 15px 12px rgba(0, 0, 0, 0.7);
  }
.generalBtn:active {
    box-shadow: 0px 3px 0px rgb(134, 127, 19), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 2px;
  }
canvas {
  height: 384px;
  width: 384px;
  border: 2px solid #000;
  }
.crosshair {cursor: crosshair;}
