<!-- Wrapper -->
<div class="wrapper">
  <!-- Sidebar -->
  <nav class="sidebar">
    <!-- close sidebar menu -->


    <div class="page-wrapper chiller-theme toggled">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <h2  style="font-family:cursive; color:#002631;font-size:21px;font-weight:1000;">Quick Draw Game</h2>
                <div class="dismiss">
      <i class="fa fa-arrow-left"></i>
    </div>
          </div>
          <div class="sidebar-header">
            <div class="user-info">
              <span class="user-name" style="font-size:16px"
                >Ayush
                <strong>Tiwari</strong>
              </span>
              <span class="user-role">Administrator</span>
              <span class="user-status">
                <i class="fa fa-circle icon"></i>
                <span class="namek">Online</span>
              </span>
            </div>
          </div>
          <!-- sidebar-header  -->
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  <span style="font-size:18px">Documentation</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-user-circle"></i>
                  <span style="font-size:18px">Account Info</span>
                </a>
              </li>
              <li class="header-menu">
                <span>Extra</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-info-circle"></i>
                  <span style="font-size:18px">Help</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <a href="#">
            <i class="fa fa-bell"></i>
          </a>
          <a href="#">
            <i class="fa fa-envelope"></i>
          </a>
          <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
          </a>
          <a href="#">
            <i class="fa fa-power-off"></i>
          </a>
        </div>
      </nav>
    </div>
  </nav>
  <!-- End sidebar -->

  <!-- Dark overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">
    <!-- open sidebar menu -->
    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
      <i class="fa fa-align-left" style="color:#5ed9ff"></i><span></span>
    </a>

    <!-- ... -->

    <!-- here is the page's content (not shown here) -->

    <!-- ... -->
  </div>
  <!-- End content -->
</div>
<!-- End wrapper -->