<div class="home">
    <div class="row ">
        <div class="col-lg">
            <a href="#" class="fa fa-linkedin fa-2x"> </a> 
            <a href="#" class="fa fa-github fa-2x"></a>
        </div>
    </div>
    <div class="container">
        <div class="row heading">
            <div class="col-lg text-center"> Quick Draw Game </div>
        </div>
        <div class="row" style="margin-top: 95px;">
            <div class="col-lg text-center">
                <a class="firstBtn" routerLink="/play-game">play game</a>
            </div>
        </div>
        <div class="row" style="margin-top: 85px;">
            <div class="col-lg text-center">
                <a class="firstBtn" routerLink="/create-dataset">create dataset</a>
            </div>
        </div>
    </div>
</div>
