@import "~bootstrap-icons/font/bootstrap-icons.css";
html,body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: cursive;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fontCursive{
    font-family: cursive;
  }
